<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title><?php echo $title; ?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="<?php echo $wpath; ?>/assets/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="<?php echo $wpath; ?>/assets/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="<?php echo $wpath; ?>/assets/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="<?php echo $wpath; ?>/assets/css/bootstrap.min.css"/>      
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                    <h1>Control de usuarios registrados
                    <small>Sistema PHP</small>
                    </h1>                   
                    </div>
                    <!--nav class="nav"-->
                        <ul class="nav nav-tabs">
                            <li class="current"><a href="index.php">Inicio</a></li>
                            <li><a href="newUser.php">Alta</a></li>
                            <li><a href="changeUser.php">Cambio</a></li>
                            <li><a href="configuration.php">Configuarción</a></li>
                            <li><a href="login.php?p=logout">Cerrar Sesión</a></li>
                        </ul>
                    <!--/nav-->
                </div>
            </div>
            <div class="row">
                
            </div>           
        </div>
        
                
        